@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100dvh;
}
html,
body {
  overscroll-behavior: none;
}

:root {
  --color-coral: #e36e53;
  --color-charcoal: #111827;
  --color-lightgray: #c4c8cb;
  --color-softgray: #eaeaea;
  --color-offwhite: #f7f6f3;
}

/* Custom Tailwind-style classes */
.bg-primary {
  background-color: var(--color-coral);
}

.bg-secondary {
  background-color: var(--color-charcoal);
}

.bg-surface {
  background-color: var(--color-softgray);
}

.bg-light {
  background-color: var(--color-offwhite);
}

.text-primary {
  color: var(--color-coral);
}

.text-secondary {
  color: var(--color-charcoal);
}

.text-muted {
  color: var(--color-lightgray);
}
.bg-muted {
  background-color: var(--color-lightgray);
}

.border-primary {
  border-color: var(--color-coral);
}

.border-secondary {
  border-color: var(--color-charcoal);
}
.border-muted {
  border-color: var(--color-lightgray);
}
.text-light {
  color: var(--color-offwhite) !important;
}
/* ===== Scrollbar Customization (React Global Style) ===== */

/* Smooth scroll behavior */
html,
body {
  scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e36e53; /* Primary color */
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c55d45; /* Darker hover */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #e36e53 #f1f1f1; /* thumb / track */
}
select {
  background-repeat: no-repeat;
  background-position: right 0.6rem center;
  background-size: 1.1rem;
}
select:hover {
  border-color: #e36e53;
}
button {
  word-break: keep-all !important;
  text-wrap: nowrap !important;
}
